@font-face {
    font-family: "PT Sans";
    src: local("PT Sans Regular"), local("PT-Sans-Regular"),
        url("./fonts/PTSans-Regular/PTSans-Regular.woff2") format("woff2"),
        url("./fonts/PTSans-Regular/PTSans-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "PT Sans";
    src: local("PT Sans Bold"), local("PT-Sans-Bold"),
        url("./fonts/PTSans-Bold/PTSans-Bold.woff2") format("woff2"),
        url("./fonts/PTSans-Bold/PTSans-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
html {
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    color: #333333;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: #000000;
}
